.container {
  width: 80%;
  float: right;
}

.sidebar ul {
  margin-top: 50px;
}

.pcheese .panel-body {
  background-color: #faf5ff;
}
.pcheese .panel-heading {
  background-color: #ddcef2;
}
.pcheese h3 {
  color: black;
}


.first-col .panel-body {
  background-color: #f5fffa;
}
.first-col .panel-heading {
  background-color: #cef2e0;
}
.first-col h3 {
  color: black;
}


.second-col .panel-body {
  background-color: #f5faff;
}
.second-col .panel-heading {
  background-color: #cedff2;
}
.second-col h3 {
  color: black;
}

.sidebar {
  float:left;
  width: 10%;
  background-color: grey;
}

.sidebar ul {
  list-style: none;
  position: absolute;
}
